#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 40rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

form .btn {
  width: 100%;
}

form .form-group label {
  margin-bottom: 1rem;
  text-align: left;
}

form .form-group .form-control {
  color: #1a1a1a;
  font-size: 16px;
  background: #fff;
  border: none;
  border-radius: 4px;
  height: 2rem;
}

hr {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  margin-top: 2rem;
}

ul input {
  margin-right: 1rem;
  cursor: pointer;
}

ul label {
  margin-right: 2rem;
  font-size: 18px;
}

ul .btn-danger {
  border: 1px solid ghostwhite;
}

ul .btn-danger:hover {
  border: 1px solid red;
}